* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    background-color: snow;
    background-repeat: no-repeat;
    background-size: 150%; 
}

p {
    font-size: 100%;
}

table {
    margin: 0 auto;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
    font-size: 100%;
}

th, td {
    padding: 10px;
}

th {
    background-color: rgb(0, 0, 0);
    color: white;
}

tr:hover {
    background-color: #959a9e;
    color: white;
}

button{
    font-size:100%;
    border-color: gray;
    color: white;
    background-color:black;
    border-radius: 15px;
}

h1 {
    color: gray;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

img.boxImg {
    float: right;
    width: 25%;
    height: 25%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.box {
    overflow: auto;
    text-align: left;
    margin: auto 25%;
    max-width: 50%;
    border: 1px solid black;
    padding: 20px;
}

.descBox {
    display: flex;
    margin: auto 10px;
    border: 1px dotted black;
    text-align: left;
    padding: 10px;
}

.ratingBox {
    display: flex;
    float: right;
    border: 1px dotted black;
    text-align: left;
    padding: 10px;
}

.label {
    color: white;
    padding: 8px;
    float: right;
}

.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */ 
.other {background-color: #e7e7e7; color: black;} /* Gray */