* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    background-color: snow;
    background-repeat: no-repeat;
    background-size: 150%; 
}

p {
    font-size: 100%;
}

table {
    margin: 0px auto;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 100%;
    padding: 20px;
}

button{
    font-size:100%;
    border-color: gray;
    color: white;
    background-color:black;
    border-radius: 15px;
}

h1{
    color: gray;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}