* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    background-image: url("backg.png");
}

p {
    font-size: 100%;
}

table {
    margin: 0 auto;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
    font-size: 100%;
}

th, td {
    padding: 10px;
}

th {
    background-color: rgb(0, 0, 0);
    color: white;
}

tr:hover {
    background-color: #959a9e;
    color: white;
}

button{
    font-size:100%;
    border-color: gray;
    color: white;
    background-color:black;
    border-radius: 15px;
}

h1 {
    text-shadow:
    -1px -1px 0 grey,
    1px -1px 0 grey;
}

img.boxImg {
    float: right;
    width: 25%;
    height: 25%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.box {
    overflow: auto;
    text-align: left;
    margin: auto 25%;
    max-width: 50%;
    border: 1px solid black;
    padding: 20px;
}

.descBox {
    display: flex;
    margin: auto 10px;
    border: 1px dotted black;
    text-align: left;
    padding: 10px;
}

.ratingBox {
    display: flex;
    float: right;
    border: 1px dotted black;
    text-align: left;
    padding: 10px;
}

#rateBar {
    width: 100%;
    background-color: #ddd;
}

#rating {
    width: 10%;
    height: 30px;
    background-color: rgb(248, 212, 6);
    text-align: center;
    line-height: 30px;
}

.label {
    color: white;
    padding: 8px;
    float: right;
}

.waitLabel {
    text-align: center;
    display: block;
}

.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */ 
.other {background-color: #e7e7e7; color: black;} /* Gray */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}